# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Node
node_modules/

# Android
.gradle/
build/
app/build/

# PHP
vendor/

# Environment
.env

# Database
*.sqlite

# Temporary
tmp/
temp/